asgiref==3.8.1
cryptography==43.0.1
Django==5.1.1
mysql-connector-python==9.0.0
mysqlclient==2.2.4
psycopg2-binary==2.9.9
PyMySQL==1.1.1
python-decouple==3.8
sqlparse==0.5.1
cryptography==43.0.1 
mutagen==1.47.0
pillow==10.4.0
