    .post-dropdown{
    width: 2000px;
    }

    .comment-dropdown{
        width: 2000px;
    }

    .comment-btn-dropdown{
        color: #00FFCC;
        float: right;
        background-color: transparent;
        border: none;
        padding: 0;
    }
    .post-drop-button{
        color: #00FFCC;
        float: right;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .post-drop-button i, .comment-btn-dropdown i{
        color:#00FFCC;
    }

    .post-drop-button:hover, .comment-btn-dropdown:hover{
      background-color: transparent;
        border:none;
        padding:0;
    }

    .post-drop-button i:hover, .comment-btn-dropdown i:hover{
        color:#6A1B9A;
    }

    .download-btn,.download-btn-comment, .download-btn-comment:hover,.download-btn:hover{
        float:right;
        background-color: transparent;
        border:none;
        padding:0;
    }

    .download-btn i{
      color:#00FFCC;
      font-size: 30px;
    }

    .download-btn i:hover{
        color: #6A1B9A;
    }

    .download-btn-comment i{
      color: #00FFCC;
      font-size: 30px;
      height: 10px;
      align-items: center;
      justify-items:center;
      margin-left: 100px;
    }

    .download-btn-comment i:hover {
        color: #6A1B9A;
    }

    .download-player{
        display: flex;
        gap: 10px;
    }
    .like-unlike-btn{
        color: #00FFCC;
        width: 50px;
        height: 30px;
        font-size: 16px;
        background-color: transparent;
        border:none;
        padding:0;
        cursor: pointer;
    }

    .like-unlike-btn:hover{
      background-color: transparent;
        border:none;
        padding:0;
    }
    .like-unlike-btn i{
        font-size: 30px;
        padding: 5px 0 0 0;
    }

    .like-unlike-btn i:hover{
        color: #6A1B9A;
    }
    
    .back-comment-like-buttons{
        display: flex;
        gap: 10px;
    }
    .download-sample-comments{
        width: 50px;
        height: 30px;
        font-size: 16px;
    }

    .like-container{
        display: flex;
    }

    .like-number{
        font-size: 20px;
        gap: 10px;
        padding: 5px 10px 0 10px;
    }
    .like-card{
        display:flex;
        height: 45px;
    }
    .make-comment-btn, .back-btn{
        height: 45px;
    }

    .post-profile-info, .comment-profile-info{
        display: flex;
        color:#00FFCC;
        gap:5px;
    }

    .post-user-name a, .comment-user-name a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
    .post-user-name a:hover, .comment-user-name a:hover{
        color:#00FFCC;
    }

    .post-card-header{
        display: flex;
    }

    .post-sample-text{
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .comment-sample-text{
        font-weight: bold;
        font-size: 20px;
        margin: 0 0 10px 20px;
    }


    