<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
<div class="container">
<div class="content container-fluid bootstrap snippets bootdey">
      <div class="row row-broken">
        <div class="col-sm-3 col-xs-12">
          <div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
            <div class="chat-users">
              <h6>Chats</h6>
                {% for chat in chats %}
                <div class="user">
                    <div class="avatar">
                        {% for user_profile in chat.userProfiles.all %}
                            {% if user_profile.user != request.user %}
                                <img src="{{ user_profile.user.userPhoto }}" alt="{{ user_profile.user.username }}">
                                <div class="name">{{ user_profile.user.username }}</div> <!-- Displaying the other user's name -->
                            {% break %}
                            {% endif %}
                        {% endfor %}
                        <div class="status {% if chat.message_set.last.is_read %}on{% else %}off{% endif %}"></div>
                    <div class="mood">{{ chat.message_set.last.content }}</div>  <!-- Most recent message -->
                </div>
                {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
          <div class="col-inside-lg decor-default">
            <div class="chat-body">
              <h6>Mini Chat</h6>
              {% for message in messages %}
                {% if message.user == request.user %}
                    <div class="answer right"> <!-- User's messages on the right -->
                        <div class="avatar">
                            <img src="{{ request.user.userprofile.userPhoto }}" alt="{{ request.user.username }}">
                        </div>
                        <div class="name">{{ request.user.username }}</div>
                        <div class="text">{{ message.content }}</div>
                        <div class="time">{{ message.created_at|timesince }} ago</div> <!-- Format the time appropriately -->
                    </div>
                {% else %}
                    <div class="answer left"> <!-- Other user's messages on the left -->
                        <div class="avatar">
                            <img src="{{ message.user.userprofile.userPhoto }}" alt="{{ message.user.username }}">
                        </div>
                        <div class="name">{{ message.user.username }}</div>
                        <div class="text">{{ message.content }}</div>
                        <div class="time">{{ message.created_at|timesince }} ago</div> <!-- Format the time appropriately -->
                    </div>
                {% endif %}
              {% endfor %}

                <form method="POST" class="answer-add"> <!-- Use a form to submit the message -->
                    {% csrf_token %} <!-- Include CSRF token for security -->
                    {{ form.content }} <!-- Render the form field for the message content -->
                    <span class="answer-btn answer-btn-1" onclick="this.closest('form').submit();">Send</span> <!-- Button to submit the form -->
                    <span class="answer-btn answer-btn-2"></span>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>