{% extends 'base.html' %}

{% block content%}

<h1>Comments</h1>
<br/>
<a href ="{% url 'create_comment' %}" class="btn btn-primary">Make a Comment</a>
<br/>
{% if userComments %}
    {% for comment in userComments %}
    <ul class="list-group">
        <li class="list-group-item">{{ comment.commentMessage }}</li>
        
    </ul>
    <a href ="{% url 'comment_detail' comment.id %}" class="btn btn-secondary">Edit Comment</a>
    <br/>
    {% endfor %}
{% endif %}
<br/>
<a href ="{% url 'home'%}" class="btn btn-secondary">back</a>


{% endblock %}