{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="profile-card">
  <h2>Edit Profile</h2>
            <h2>{{ profile_user.username }}</h2>
          <div style="display: flex; align-items: center; gap: 20px;">
              <!-- Display the uploaded profile photo -->
              <img src="{{ profile_user.userprofile.userPhoto.url }}" alt="Profile Photo" style="width:200px; height:200px; border-radius: 50%;">
          </div>
  
  <form method="post" enctype="multipart/form-data" style="margin-bottom: 20px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary animated-border-btn">Save changes</button>
    <a href="{% url 'delete_account' %}" class="btn btn-danger danger-btn">Delete Account</a>
    

  </form>
  
  <!-- Add spacing between the form and the delete button -->
</div>
{% endblock %}
