<!-- Footer -->
<style>
  footer {
    position: relative;
    background-color: #171218;
    min-height: 0%;
    bottom: 0;
    width: 100%;
  }

</style>

<footer
  class="text-center text-lg-start text-white"
>
  <!-- Copyright -->
  <div
    class="text-center p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2024 Copyright:
    <a class="text-white" href="{% url 'home' %}"
      >SampleShare.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


<script>
  function pageCanScroll() {
    return document.documentElement.scrollHeight > document.documentElement.clientHeight;
  }

  // Create a style element dynamically
  function insertStylesForFooter() {
    const footer = document.querySelector("footer");

    const style = document.createElement("style");
    style.type = "text/css";
      if (pageCanScroll()) {
        style.innerHTML = `
          footer {
            background-color: #171218; 
            position: relative; 
            min-height: 0%; bottom: 0; 
            width: 100%;
          }
        `;
      }
      
      else {
        style.innerHTML = `
          footer {
            background-color: #171218; 
            position: absolute; 
            min-height: 0%; 
            bottom: 0; 
            width: 100%;
          }
        `;
      }
      footer.appendChild(style);
    }

  // Run the function on page load and/or window resize
  window.addEventListener('load', insertStylesForFooter);
  window.addEventListener('resize', insertStylesForFooter);
</script>