{% extends 'base.html' %}
{% load static %}
{% block content%}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/player_style.css' %}"/>

<div class="col-md-6 offset-md-3">      
    <h1>WELCOME TO SAMPLE SHARE</h1>
    </div>


{% if userPosts %}
    {% for post in userPosts %}
    <ul class="list-group">
        <li class="list-group-item">
            <a href ="{% url 'profile' post.userProfiles.user.username %}">
            <img src="{{ post.userProfiles.userPhoto.url }}" alt="Profile Photo" style="width:30px; height:30px; border-radius: 50%;">
           {{ post.userProfiles.user.username }} </a>

        </li>
        <li class="list-group-item">{{ post.postText }}</li>
        <li class="list-group-item">
            <strong>Sample:</strong>
            {{ post.samples.sampleName }} 
            <div class="player-container"> 
                <!-- Player buttons -->
                  <button class="play-button">
                    <i class="fa-solid fa-play"></i>
                  </button>
                <div id="waveform-{{ forloop.counter }}" class="waveform"></div>
                <input type="hidden" class="sample-url" value="{{ post.samples.audioFile.url }}">
              <br/>
              </div></li>
        
    </ul>
    <a href="{%url 'user_post' post.id%}" class="btn btn-secondary"> View Post </a>
    <br/>
    {% endfor %}
{% endif %}
<br/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
<script src="{% static 'js/sample_player.js' %}"></script>
<script src="https://unpkg.com/wavesurfer.js@7"></script>

{% endblock %}
