{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="display: flex; align-items: center; gap: 20px;">
  {% if profile_user.userprofile.userPhoto %}
    <!-- Display the uploaded profile photo -->
    <img src="{{ profile_user.userprofile.userPhoto.url }}" alt="Profile Photo" style="width:150px; height:150px; border-radius: 50%;">
{% else %}
    <!-- Use the default profile picture from static if no photo is uploaded -->
    <img src="{% static 'images/profile_picture_default.jpg' %}" alt="Default Profile Photo" style="width:150px; height:150px; border-radius: 50%;">
{% endif %}
<h2>Profile of {{ profile_user.username }}</h2>
</div>


  <p>Email: {{ profile_user.email }}</p>
  <p>First Name: {{ profile_user.first_name }}</p>
  <p>Last Name: {{ profile_user.last_name }}</p>
  <p>Bio: {{ profile_user.userprofile.bio }}</p>

  <!-- Link to Edit Profile -->
  <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
  <a href="{% url 'edit_samples' %}" class="btn btn-primary">Edit Samples</a>



{% endblock %}


