{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2> Uploaded Samples </h2>

{% if query_all_sample %}
<ul>
  {% for sample in query_all_sample %}
    <li>
      <h3> {{sample.sampleName}}</h3>
      <div class="player-container"> 
        <button onclick="playPause('{{ sample.audioFile.url }}')" id="playBtn" class="btn btn-primary"> Play </button>
      </div>
    <!-- <button onclick="playSample('{{sample.audioFile.url}}')" class="btn btn-primary"> Play Sample </button> -->
    </li>
  {% endfor %}
</ul>
{%else%}
  <p>No Samples Uploaded!</p>
{%endif%}

<!-- howler lib + the call to the sample player -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
<script src="{% static 'js/sample_player.js' %}"</script>
<script>
  var name = "{{ user.userprofile.id }}";
  document.getElementById("user").value =
    name;
</script>

{% endblock %}

