{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2> Uploaded Samples </h2>

{% if query_all_sample %}
<table class="table table-hover">
  <thead> 
    <tr> 
      <th scope="col">Sample Names</th>
    </tr>
  </thead>
  <tbody>
  {% for sample in query_all_sample %}
    <tr>
      <td scope="row">{{ sample.sampleName }}</td>
      <td scope="row"> 
        <div class="player-container"> 
          <div id="waveform-{{ forloop.counter }}" class="waveform"></div>
          <input type="hidden" class="sample-url" value="{{ sample.audioFile.url }}">
        </div>
      </td>
    </tr>
  </tbody>
{% endfor %}

{%else%}
  <p>No Samples Uploaded!</p>
{%endif%}


<!-- 
  waveform lib + the call to the sample player had to change the js library for waveforms etc
-->
<script src="https://unpkg.com/wavesurfer.js@7"></script>
<script src="{% static 'js/sample_player.js' %}"></script>

{% endblock %}

