{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/player_style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/post_comment_style.css' %}"/>

  <body>
<div class="card">
    <div class="card-header"><strong>
        <a href ="{% url 'profile' user_post.userProfiles.user.username %}">
        <img src="{{ user_post.userProfiles.userPhoto.url }}" alt="Profile Photo" style="width:30px; height:30px; border-radius: 50%;">
        {{ user_post.userProfiles.user.username }} </a>
          </strong>

 <!------ Edit Button Drop Down------>
{% if user.userprofile.id == user_post.userProfiles.id %}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle post-drop-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class =" fa-solid fa-pencil"></i>    
    </button>
    <ul class="dropdown-menu">
    <li><a href="{% url 'update_post' user_post.id %}" class="btn btn-secondary">Edit Post</a>
        <br/>
    <li><a href="{% url 'delete_post' user_post.id %}" onclick="return confirm('Are you sure you want to delete this post?');"class="btn btn-danger">Delete</a>
    </ul>
</div>
<br/><br/>
{% endif %}
<!--------------------------------->
    </div>
    <div class="card-body">

    <p class="card-text">
    <strong>Text: </strong>{{ user_post.postText }}
    <br/>
    <strong>Sample: </strong>{{ user_post.samples.sampleName }}
    </p>
    {% for sample in post_samples %} 
    <div class="player-container"> 
        <!-- Player buttons -->
          <button class="play-button">
            <i class="fa-solid fa-play"></i>
          </button>
        <div id="waveform-{{ forloop.counter }}" class="waveform"></div>
        <input type="hidden" class="sample-url" value="{{ sample.samples.audioFile.url }}">
      <br/>
      </div>
      {% endfor %}
    <!-- Download Code -->
        <a href="{% url 'download_sample' user_post.samples.id %}" class="btn btn-primary download-btn">
          <i class="fa-solid fa-download"></i>
        </a>
     <!-- End of Download Code -->


</div>
</div>
<div class="back-comment-like-buttons">
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'create_comment' user_post.id %}" class="btn btn-primary"> Make A Comment</a>


<!------------------- Like Code --------------------->
<br/><br/>
<form action = "{% url 'like_post' user_post.id %}" method="POST">
    {% csrf_token %}

    {% if liked %}
    <button type="submit", name="post_id", value="{{ user_post.id }}", class="btn btn-danger  like-unlike-btn">
      <i class="fa-solid fa-thumbs-up"></i>
    </button>
    
    {% else %}
    <button type="submit", name="post_id", value="{{ user_post.id }}", class="btn btn-primary like-unlike-btn">
      <i class="fa-regular fa-thumbs-up"></i>
    </button>
    {% endif %}
    - {{ total_likes }} Likes
</form>
<!------------------- End of Like Code --------------------->
</div>
<br/>
<!-- COMMENT SECTION -->
<div class="card">
    <div class="card-header"><strong>
          Comments
          </strong>
    </div>
    <div class="card-body">

   
    <!-- Comment Display Code -->
    <ul class="list-group">
    {% if comments %}
    {% for comment in comments %}
    <li class="list-group-item">
    <a href ="{% url 'profile' comment.userProfile.user.username %}" class = "link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        <img src="{{ comment.userProfile.userPhoto.url }}" alt="Profile Photo" style="width:30px; height:30px; border-radius: 50%;">
        {{ comment.userProfile.user.username }} 
    </a>
    <!----------------- Comment Dropdown ------------------>
        {% if user.userprofile.id == comment.userProfile.id %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle comment-btn-dropdown btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-pencil"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a href="{% url 'update_comment' comment.id %}" class="btn btn-primary btn-sm">Edit Comment</a></li>
              <li><a href="{% url 'delete_comment' comment.id %}" onclick="return confirm('Are you sure you want to delete this comment?');"class="btn btn-danger btn-sm">Delete Comment</a></li>
            </ul>
          </div>
        {% endif %}
        <!---------------------------------------------------->
        <p> {{ comment.commentMessage }}</p>
        {% if comment.samples != None %}
        <!--{{ comment_samples }}-->
         
            <!-- Download Code -->
                <a href="{% url 'download_sample' comment.samples.id %}" class="btn btn-primary download-btn-comment">
                  <i class="fa-solid fa-download"></i>
                </a>
                <br/><br/>       
            <!-- End of Download Code --> 
            
        {% endif %}
        <div class="comment-player-container"> 
            <!-- Player buttons -->
             {% if comment.samples == None %}
              <button type="button" class="comment-play-button" hidden>
                <i class="fa-solid fa-play"></i>
              </button>
            {% else %}
            <button class="comment-play-button">
                <i class="fa-solid fa-play"></i>
              </button>
            {% endif %}
            <div id="comment-waveform-{{ forloop.counter }}" class="comment-waveform"></div>
            <input type="hidden" class="comment-sample-url" value="{{ comment.samples.audioFile.url }}">
          <br/>
          </div>
    
    <br/>
        
    </li>
    {% endfor %}
    {% endif %}
</ul>
</body>
<!-- ----------End of Comment Section------------- -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script> -->
<script src="https://unpkg.com/wavesurfer.js@7"></script>
<script src="{% static 'js/sample_player.js' %}"></script>
<script src="{% static 'js/sample_playerPC.js' %}"></script>
{% endblock %}