{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/player_style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/post_comment_style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/custom_style.css' %}"/>
  <body>
<div class="card">
    <div class="card-header"><strong>
      <div class="post-card-header">
      <div class="post-profile-info">
        <div class="post-profile-pic">
          <a href ="{% url 'profile' user_post.userProfiles.user.username %}">
        <img src="{{ user_post.userProfiles.userPhoto.url }}" alt="Profile Photo" style="width:30px; height:30px; border-radius: 50%;">
          </a>
        </div>
      <div class ="post-user-name">
        <a href ="{% url 'profile' user_post.userProfiles.user.username %}">
          {{ user_post.userProfiles.user.username }}
        </a>
        </div>
      </div>    
      </strong>

 <!------ Edit Button Drop Down------>
{% if user.userprofile.id == user_post.userProfiles.id %}
<div class="post-dropdown">
    <button class="btn dropdown-toggle post-drop-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class =" fa-solid fa-pencil"></i>    
    </button>
    <ul class="dropdown-menu">
    <li><a href="{% url 'update_post' user_post.id %}" class="btn btn-secondary">Edit Post</a>
        <br/>
    <li><a href="{% url 'delete_post' user_post.id %}" onclick="return confirm('Are you sure you want to delete this post?');"class="btn btn-danger">Delete Post</a>
    </ul>
</div>
<br/><br/>
{% endif %}
</div>
<!--------------------------------->
    </div>
    <div class="card-body">

    <p class="card-text">
    {{ user_post.postText }}
    <br/>
    <hr>
    </p>
   
    {% for sample in post_samples %} 
    <div class="sample-info">
    <div class="post-sample-text">
      {{ user_post.samples.sampleName }}
      </div>   
    <div class="player-container"> 
        <!-- Player buttons -->
          <button class="play-button">
            <i class="fa-solid fa-play"></i>
          </button>
        <div id="waveform-{{ forloop.counter }}" class="waveform"></div>
        <input type="hidden" class="sample-url" value="{{ sample.samples.audioFile.url }}">
        <div class="sample-options-container">
          <div class="sample-download"> 
            <a href="{% url 'download_sample' sample.id %}">
              <i class="fa-solid fa-download"></i>
            </a>
          </div>
        </div>
      <br/>
      </div>
      </div>
      {% endfor %}


</div>
<hr>
<div class="back-comment-like-buttons" style="display: flex; justify-content: center; gap: 50px;">
<a href="{% url 'home' %}" class="btn btn-secondary back-btn">Back</a>
<a href="{% url 'create_comment' user_post.id %}" class="btn btn-primary make-comment-btn animated-border-btn"> Make A Comment</a>



<!------------------- Like Code --------------------->
<form action = "{% url 'like_post' user_post.id %}" method="POST">
  <div class="card like-card">
  <div class="like-container">
    {% csrf_token %}

    {% if liked %}
    <button type="submit", name="post_id", value="{{ user_post.id }}", class="btn like-unlike-btn">
      <i class="fa-solid fa-thumbs-up"></i>
    </button>
    
    {% else %}
    <button type="submit", name="post_id", value="{{ user_post.id }}", class="btn  like-unlike-btn">
      <i class="fa-regular fa-thumbs-up"></i>
    </button>
    {% endif %}
    <div class="like-number">
    {{ total_likes }}
    </div>
  </div>
</div>
</form>
</div>
<br/>

</div>
<!------------------- End of Like Code --------------------->
<br/>
<!-- COMMENT SECTION -->
<div class="card">
    <div class="card-header"><strong>
          Comments
          </strong>
    </div>
    <div class="card-body">

   
    <!-- Comment Display Code -->
    {% if comments %}
    {% for comment in comments %}
    <div class="card">
      <div class="card-header">
      <div class="comment-profile-info">
        <div class="comment-profile-pic">
          <a href ="{% url 'profile' comment.userProfile.user.username %}" class = "link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            <img src="{{ comment.userProfile.userPhoto.url }}" alt="Profile Photo" style="width:30px; height:30px; border-radius: 50%;">
          </a>
        </div>
      <div class="comment-user-name">
        <a href ="{% url 'profile' comment.userProfile.user.username %}">
          {{ comment.userProfile.user.username }}  
        </a> 
      </div>
      <!----------------- Comment Dropdown ------------------>
    {% if user.userprofile.id == comment.userProfile.id %}
    <div class="comment-dropdown">
        <button class="btn dropdown-toggle comment-btn-dropdown btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-pencil"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a href="{% url 'update_comment' comment.id %}" class="btn btn-secondary btn-sm">Edit Comment</a></li>
          <li><a href="{% url 'delete_comment' comment.id %}" onclick="return confirm('Are you sure you want to delete this comment?');"class="btn btn-danger btn-sm">Delete Comment</a></li>
        </ul>
      </div>
    {% endif %}
    <!---------------------------------------------------->
    </div>
  </div>
    <div class="card-body">
        <p> {{ comment.commentMessage }}</p>
        {% if comment.samples != None %}
        <!--{{ comment_samples }}-->
        <div class="sample-info">
         <div class="comment-sample-text">
          {{ comment.samples.sampleName }}
        </div>
            
        {% endif %}
        <div class="comment-player-container"> 
            <!-- Player buttons -->
             {% if comment.samples == None %}
              <button type="button" class="comment-play-button" hidden>
                <i class="fa-solid fa-play"></i>
              </button>
            {% else %}
            <button class="comment-play-button">
                <i class="fa-solid fa-play"></i>
              </button>
            {% endif %}
            <div id="comment-waveform-{{ forloop.counter }}" class="comment-waveform"></div>
            <input type="hidden" class="comment-sample-url" value="{{ comment.samples.audioFile.url }}">
            <div class="sample-options-container">
              {% if comment.samples != None %}
              <!-- Download Code -->
              <a href="{% url 'download_sample' comment.samples.id %}" class="btn download-btn-comment">
                <i class="fa-solid fa-download"></i>
              </a> 
              {% endif %}
            </div>
          <br/>
          </div>
        </div>
        </div>
  </div>
<br>


    {% endfor %}
    {% endif %}
    </div>
    </div>
    <br>
</body>
<!-- ----------End of Comment Section------------- -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script> -->
<script src="https://unpkg.com/wavesurfer.js@7"></script>
<script src="{% static 'js/sample_player.js' %}"></script>
<script src="{% static 'js/sample_playerPC.js' %}"></script>
{% endblock %}