<!-- templates/widgets/genre_autocomplete.html -->
<div class="genre-autocomplete">
    <input type="text" name="{{ widget.name }}" id="{{ widget.attrs.id }}" class="{{ widget.attrs.class }}" placeholder="{{ widget.attrs.placeholder }}">
    
    <!-- Autocomplete suggestion box -->
    <div id="genre-suggestions" class="suggestions-box"></div>
    
    <!-- Selected genres tags -->
    <div id="selected-genres" class="selected-genres">
        <!-- JavaScript will populate this with selected tags -->
    </div>
    
    <!-- Add new genre button -->
    <button type="button" id="add-genre-btn">+</button>
</div>
